venv
.idea
consumer/files/*
ansible/ssh/*
ansible/hosts
producer/files/*
get_ids
.env
.DS_Store
__pycache__/
.idea/
*.pyc
*.pyo
Rfam Families and Aliases - Sheet1.csv
organism_textmining_mentions.tsv
training/rfam/*
training/tarbase/*
training/data.csv
kubernetes/secrets